.navbar-brand img {
  width: 130px;
}

.search-icon path {
  fill: #198754; /* màu mặc định */
  transition: fill 0.2s;
}

.search-btn:hover .search-icon path {
  color: #fff;
  fill: #fff;
}

.fearture__item img {
  width: 50px;
  height: auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header{
  padding-top: 100px;
}

.subscribe{
  background-color: #273447;
}

.blur-filter{
  backdrop-filter: blur(8px);
  background-color: #cccccc57;
}